// Variables
$breakpoint-1: 768px;
$breakpoint-2: 992px;
$breakpoint-3: 1200px;
$breakpoint-4: 1400px;

$breakpoint-height-1: 420px;
$breakpoint-height-2: 500px;


$color-base: #000;
$color-title: #0c0c0c;
$color-title-lite: #333;
$color-lite: #828282;
$color-link: #57ab27;
$color-link-hover: #4d9b21;
$color-error: #f00;

// Mixins
@mixin card {
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);

    @media (min-width: $breakpoint-1) {
        padding: 50px;
    }
}


//
html {
    height: 100%;
    overflow-y: scroll;
}

body {
    font-family: "Roboto", Tahoma, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: $color-base;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #f5f5f5;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: underline;
}

h1 {
    font-family: 'Roboto Slab', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: $color-base;
    margin: 0 0 22px;
    padding: 0;

    @media (min-width: $breakpoint-1) {
        font-size: 50px;
        line-height: 66px;
        margin: 0 0 35px;
    }
}

h1 a, h1 a:hover, h1 a:focus {
    text-decoration:none;
}

h2 {
    font-family: 'Roboto Slab', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: $color-title;
    margin: 0 0 22px;
    padding: 0;

    @media (min-width: $breakpoint-1) {
        font-size: 50px;
        line-height: 66px;
        margin: 0 0 32px;
    }
}

h2 a, h2 a:hover, h2 a:focus {
    text-decoration:none;
}

h3 {
    color: $color-title;
    font-family: 'Roboto Slab', 'Times New Roman', serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 25px;
    padding: 0;

    @media (min-width: $breakpoint-1) {
        font-size: 30px;
        line-height: 34px;
        margin: 0 0 32px;
    }
}

p {
    margin: 0 0 25px;
}

ol, ul {
    margin: 0 0 25px;
}

li {
    line-height: 30px;
}

.symbol-rub {
    font-family: 'PT Sans', Tahoma, Arial, sans-serif;
}

::-moz-selection {
  background: #494e55;
  color:#fff;
}

::selection {
  background: #494e55;
  color:#fff;
}
::-moz-selection {
  background: #494e55;
  color:#fff;
}

/* Forms */
.btn {
    font-family: 'Roboto Slab', 'Times New Roman', serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    height: 50px;
    padding: 0 22px;
    vertical-align: middle;
    display: block;
    border:none;
    border-radius: 25px;
    background-color: $color-link;
    box-shadow: 0 8px 20px rgba(113, 203, 62, .75);

    &:hover {
        color: #fff;
        background-color: $color-link-hover;
        box-shadow: none;
    }

    &:focus {
        color: #fff;
        background-color: $color-link-hover;
        box-shadow: none;
    }

    &:active {
        color: #fff;
        background-color: $color-link-hover;
        box-shadow: none;
    }

    &_lite {
        color: $color-link;
        border: 1px solid $color-link;
        background: transparent;
        box-shadow: none;
    }
}

label {
  font-size:18px;
  margin-bottom:20px;
  margin-top:35px;
  text-align: left;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-family: "Roboto", Tahoma, Arial, sans-serif;
    font-size: 15px;
    line-height: 15px;
    color: $color-title;
    height: 50px;
    width: 100%;
    padding: 8px 23px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 3px;

    &:hover {
        color: $color-title;
        border-color: $color-link;
    }

    &:focus {
        border-color: $color-link;
        outline: 0;
    }

}

textarea {
    vertical-align: top;
}


// Elements //
//
.c-contacts {

    &__link {
        font-size: 16px;
        line-height: 20px;
        color: $color-base;
        text-decoration: none;
        margin: 0 0 10px 10px;
        display: inline-block;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            text-decoration: underline;
        }

        &:before {
            content: '';
            width: 29px;
            height: 20px;
            margin-right: 8px;
            display: inline-block;
            vertical-align: middle;
        }

        &_mail:before {
            background: transparent url(../images/icon-mail.png) no-repeat 50% 50%;
        }

        &_phone:before {
            width: 20px;
            background: transparent url(../images/icon-phone.png) no-repeat 50% 50%;
        }
    }
}

.c-social {

    &__title {
        font-family: "Roboto", Tahoma, Arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        color: #404040;
        margin-bottom: 8px;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin: 0 0 10px 15px;
        padding: 8px;
        text-indent: -9999px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 50%;

        &:first-of-type {
            margin-left: 0;
        }

        &_fb {
            background: transparent url(../images/icon-fb.png) no-repeat 50% 50%;
        }

        &_vk {
            background: $color-link url(../images/icon-vk.png) no-repeat 50% 50%;
        }

        &_instagram {
            background: transparent url(../images/icon-instagram.png) no-repeat 50% 50%;
        }
    }
}

//
.o-modal {
    display: none;
    width: 320px;
    height: 200px;
    padding: 15px;
    position: fixed;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -160px;
    z-index: 9;
    background: #ececec;

    @media (min-width: $breakpoint-1) {
        height: 600px;
        margin-top: -300px;
    }

    &_video {
        width: 80%;
        margin-left: -40%;
    }
}

.o-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .8;
    z-index: 8;
    background: #000;
}

.o-icon-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    text-indent: -9999px;
    z-index: 6;
    background: transparent url(../images/icon-close.png) no-repeat 0 0;
}

.o-icon-open {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 6;
    background: transparent url(../images/icon-open.png) no-repeat 0 0;
}

//
.o-carousel-controls {
    text-align: center;

    @media (min-width: $breakpoint-1) {
        position: absolute;
        top: -60px;
        right: 0;
    }

    &__arrow {

    }

    &__count {
        padding: 0 15px;
        vertical-align: middle;
    }
}

.o-carousel-arrow {
    width: 33px;
    height: 44px;
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    cursor: pointer;
    background: transparent url(../images/icons-arrows-mobile.png) no-repeat 0 0;

    &_prev {
        background-position: 0 0;
    }

    &_next {
        background-position: 100% 0;
    }

    &:hover {
        opacity: .8;
    }

    .is-items2 & {

        @media (min-width: 617px) {
            background-position-y: 100%;

            &:hover {
                opacity: 1;
                cursor: default;
            }
        }
    }

    @media (min-width: $breakpoint-1) {
        height: 29px;
        margin: 0;
        background-image: url(../images/icons-arrows.png);
    }
}


// Layout //
//
.container {

    @media (min-width: $breakpoint-4) {
        width: 1240px;
    }
}

//
.auditory-header-fixed {
    padding: 25px 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 8;

    @media (min-width: $breakpoint-3) {

        &.is-visible {
            display: block;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .95;
        background: #fff;
    }

    &__logo {
        min-width: 150px;
        display: inline-block;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__menu { // .site-menu-fixed
        text-align: center;
    }

    .c-contacts {
        min-width: 180px;
        text-align: right;

        &__link {
            font-size: 17px;
            font-weight: 700;
            color: $color-link;
        }

        &__link:before {
            width: 35px;
            height: 35px;
            border: 1px solid $color-lite;
            border-radius: 50%;
            background-image: url(../images/icon-phone2.png);
            background-size: 15px 15px;
        }
    }
}

.site-menu-fixed {
    margin: 0;
    padding: 0;

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        list-style: none;
        margin: 0;
        padding: 0 9px;
        display: inline-block;
    }

    &__link {
        font-family: "Roboto", Tahoma, Arial, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 19px;
        color: #4f4f4f;
        text-decoration: none;
        display: inline-block;
    }
}



//
.auditory-face {
    min-height: 400px;
    position: relative;
    background: #fff;

    @media (min-height: $breakpoint-height-1) {
        min-height: 500px;
    }

    @media (min-height: $breakpoint-height-2) {
        min-height: 580px;
    }

    @media (min-width: $breakpoint-1) {
        min-height: 620px;
        background: #fff url(../images/bg-main.png) no-repeat 100% 100%;
    }

    .container {
        min-height: 400px;
        position: relative;

        @media (min-height: $breakpoint-height-1) {
            min-height: 500px;
        }

        @media (min-height: $breakpoint-height-2) {
            min-height: 580px;
        }

        @media (min-width: $breakpoint-1) {
            min-height: 620px;
        }
    }

    &__speaker-photo {
        display: none;

        @media (min-width: $breakpoint-1) {
            position: absolute;
            bottom: 0;
            right: 0;
            width: auto;
            max-height: 604px;
            display: block;
        }
    }

    &__speaker-photo-mobile {
        position: absolute;
        bottom: 0;
        right: 0;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 340px;


        @media (min-height: $breakpoint-height-1) {
            max-height: 440px;
        }

        @media (min-height: $breakpoint-height-2) {
            max-height: 500px;
        }

        @media (min-width: $breakpoint-1) {
            display: none;
        }
    }
}

.auditory-info-wr {

    @media (min-width: $breakpoint-1) {
        padding: 30px 0 100px;
    }
}

.auditory-info {
    font-family: "Roboto", Tahoma, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $color-base;
    padding: 24px 0 0;
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
        border-color: transparent;
    }

    @media (min-width: $breakpoint-1) {
        font-size: 16px;
        line-height: 26px;
        padding: 58px 0 40px;
    }

    &_get {
        height: 300px;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        overflow: hidden;
        border-color: transparent;

        @media (min-width: $breakpoint-1) {
            height: auto;
        }

        &:after {
            content: '';
            height: 150px;
            position: absolute;
            bottom: 0;
            left: -15px;
            right: -15px;
            z-index: 4;
            background: #fff;
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba( 255, 255, 255, 0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1)80%, rgba( 255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba( 255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

            @media (min-width: $breakpoint-1) {
                display: none;
            }
        }

        &.is-expanded {
            height: auto;

            &:after {
                display: none;
            }
        }

        @media (min-width: $breakpoint-1) {
            border-color: #e0e0e0;
        }
    }

    &_info {
        padding-top: 35px;
        border-color: transparent;
    }

    &_carousel {

        @media (min-width: $breakpoint-1) {

            h3 {
                padding-right: 150px;
            }
        }
    }

    &__text {
        padding-top: 14px;
        position: relative;

        &:before {
            content: '';
            width: 45px;
            height: 5px;
            position: absolute;
            top: 0;
            left: 0;
            background: $color-link;
        }
    }

    &__table {

        @media (min-width: $breakpoint-1) {
            width: 100%;
            display: table;
        }
    }

    &__row {

        @media (min-width: $breakpoint-1) {
            display: table-row;
        }
    }

    &__cell {
        font-family: "Roboto", Tahoma, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: $color-base;
        padding-top: 15px;
        padding-bottom: 15px;
        display: inline-block;
        vertical-align: top;

        @media (min-width: $breakpoint-1) {
            height: 50px;
            display: table-cell;
            vertical-align: middle;
        }

        &_icon {
            width: 12%;
            text-align: center;

            @media (min-width: $breakpoint-1) {
                width: 5%;
                text-align: center;
            }
        }

        &_icon img {
            max-width: 100%;
        }

        &_text {
            width: 85%;
            padding-left: 10px;

            @media (min-width: $breakpoint-1) {
                width: 20%;
                padding-left: 10px;
            }
        }

    }

    &__title {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        color: $color-base;
        margin-bottom: 4px;

        @media (min-width: $breakpoint-1) {
            font-family: "Roboto", Tahoma, Arial, sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
        }

        @media (min-width: $breakpoint-2) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    &__descr {
        font-family: "Roboto", Tahoma, Arial, sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        color: $color-title;
    }

    &__expand {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 40px;
        color: $color-link;
        text-transform: uppercase;
        text-decoration: none;
        height: 40px;
        text-align: center;
        display: block;
        position: absolute;
        bottom: 0;
        left: 10px;
        right: 10px;
        z-index: 5;
        background: #fff;
        box-shadow: 0 -4px 20px rgba(113, 203, 62, .2);

        &:after {
            content: '';
            width: 18px;
            height: 10px;
            margin-left: 10px;
            display: inline-block;
            background: transparent url(../images/icon-down.png) no-repeat 0 0;
        }

        &:hover {
            color: $color-link-hover;
            text-decoration: none;
        }

        @media (min-width: $breakpoint-1) {
            display: none;
        }
    }

    &__list {

        @media (min-width: $breakpoint-1) {
            margin: 0;
            padding: 0;
        }
    }

    &__list-item {

        @media (min-width: $breakpoint-1) {
            list-style: none;
            font-size: 18px;
            line-height: 21px;
            font-weight: 500;
            margin: 0 35px 35px 0;
            padding: 0 0 0 60px;
            position: relative;
            display: inline-block;

            &:before {
                content: '';
                width: 45px;
                height: 5px;
                position: absolute;
                top: 50%;
                left: 0;
                margin-top: -2px;
                background: $color-link;
            }
        }
    }

}

//
.auditory-header {
    padding: 20px 0;

    @media (min-width: $breakpoint-1) {
        padding: 50px 0;
    }

    &__logo {

    }

    &logo-img {
        vertical-align: top;
    }

    &__contacts { // .c-contacts
        display: none;
        padding: 10px 0 0;

        @media (min-width: $breakpoint-1) {
            display: block;
        }
    }

}

//
.auditory-menu-mobile {

    .o-icon-close {
        display: none;
    }

    &__list { // .site-menu-mobile
        display: none;
    }

    &.is-opened {

        .o-icon-close {
            display: block;
        }

        .o-icon-open {
            display: none;
        }

        .auditory-menu-mobile__list { // .site-menu-mobile
            display: block;
        }
    }
}

//
.site-menu-mobile {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 90px 45px 50px;
    text-align: center;
    z-index: 5;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .95;
        background: #fff;
    }

    &__item {
        list-style: none;
        margin: 0 0 20px;
        padding: 0;
        position: relative;
    }

    &__link {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 29px;
        color: $color-base;
        text-decoration: none;
    }
}

//
.site-menu {

    @media (min-width: $breakpoint-1) {
        display: block;
        margin: 0;
        padding: 20px 0;
        position: relative;

        &:before {
            display: none;
        }

        &__item {
            list-style: none;
            width: 25%;
            margin: 0;
            padding: 0;
            float: left;
        }

        &__link {
            font-family: "Roboto", Tahoma, Arial, sans-serif;
            font-size: 19px;
            font-weight: 400;
            line-height: 45px;
            color: #4f4f4f;
            text-decoration: none;
            display: inline-block;

            &_feat {
                color: $color-link;
                height: 45px;
                line-height: 43px;
                margin: 0 -18px;
                padding: 0 18px;
                border: 1px solid #c0c0c0;
                border-radius: 25px;
            }
        }
    }
}

//
.auditory-main {
    padding: 35px 0 50px;
    position: relative;

    @media (min-height: $breakpoint-height-1) {
        padding-top: 130px;
    }

    @media (min-height: $breakpoint-height-2) {
        padding-top: 170px;
    }

    @media (min-width: $breakpoint-1) {
        padding: 40px 0 120px;
    }

    &__info {
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
        margin-bottom: 18px;

        @media (min-width: $breakpoint-1) {
            font-family: "Roboto", Tahoma, Arial, sans-serif;
            font-size: 19px;
            font-weight: 500;
            line-height: 25px;
            color: $color-base;
        }
    }

    &__info-date {
        display: none;

        @media (min-width: $breakpoint-1) {
            color: $color-link;
            display: inline;
            white-space: nowrap;
        }
    }

    &__bottom-start {
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        color: $color-link;
        margin-bottom: 27px;

        @media (min-width: $breakpoint-1) {
            font-size: 17px;
            margin-right: 40px;
            display: inline-block;
        }
    }

    &__bottom-date {
        display: block;

        @media (min-width: $breakpoint-1) {
            display: none;
        }
    }

    &__bottom-link {
        text-align: center;

        @media (min-width: $breakpoint-1) {
            display: inline-block;
        }
    }

}

//
.auditory-video-mobile {
    height: 200px;
    margin: 0 -15px 30px;
}

//
.auditory-info-mobile {

    &__descr {
        @include card;

        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        color: #4f4f4f;
        margin-bottom: 20px;
        padding: 24px 20px 30px;
        background: #fff url(../images/bg-descr-mobile.png) no-repeat 100% 100%;
    }

    &__link {
        padding: 0 30px;
        margin-bottom: 20px;
    }

}

//
.auditory-program-wr {
    padding-bottom: 60px;
    position: relative;

    @media (min-width: $breakpoint-1) {
        padding-bottom: 0;
    }

    .o-carousel-arrow {
        height: 29px;
        background-image: url(../images/icons-arrows.png);
    }
}

//
.auditory-program {
    margin: 0 -15px 15px;
    overflow: hidden;
    position: relative;

    &__list {
        width: 20000em;
        position: relative;
    }

    &__item {
        width: 100%;
        float: left;
    }
}

.auditory-program-item {
    @include card;

    margin: 15px 15px 20px;
    position: relative;

    @media (min-width: $breakpoint-1) {
        padding: 30px 40px;
    }

    &__title {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        color: $color-link;
        margin-bottom: 10px;
        padding-right: 40px;
        position: relative;
        word-break: break-all;

        @media (min-width: $breakpoint-1) {
            font-size: 30px;
            line-height: 37px;
        }
    }

    &__day {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 17px;
        color: $color-lite;
        position: absolute;
        bottom: 4px;
        right: 0;
    }

    &__list {
        margin: 0;
        padding: 0;
        counter-reset: item;
    }

    &__list-item {
        margin: 0;
        padding: 0 0 10px 20px;
        list-style: none;
        position: relative;

        &:before {
            counter-increment: item;
            content: counter(item) ". ";
            color: $color-lite;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

//
.auditory-video {
    padding: 0 0 40px;
    position: relative;
    background: #fff;

    @media (min-width: $breakpoint-1) {
        padding: 40px 0;
    }

    &__about {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: #bdbdbd;
        margin-bottom: 10px;
    }

    &__logos {

    }

    &__logo-link {
        text-decoration: none;
        margin: 0 30px 6px 0;
        vertical-align: middle;

        &:hover {
            text-decoration: none;
        }
    }

    &__link {
        text-decoration: none;
        text-align: center;
        width: auto;
        max-width: 70%;
        margin: 0 auto;
        display: block;
        position: relative;

        &:hover {
            opacity: .8;
        }

        @media (min-width: $breakpoint-1) {
            max-width: 100%;
        }
    }

    &__link-text {
        font-family: "Roboto", Tahoma, Arial, sans-serif;
        font-size: 16px;
        line-height: 16px;
        color: #fff;
        padding: 65px 10px 10px;
        display: block;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        background: transparent url(../images/icon-play.png) no-repeat 50% 0;
    }

    &__link-img {
        max-width: 100%;
        border: 10px solid #fff;
        border-radius: 50%;
        box-shadow: 0 8px 25px rgba(87, 171, 39, .3);
    }

    &:before {
        content: '';
        height: 100px;
        position: absolute;
        top: -50px;
        left: 0;
        right: 0;
        background: transparent url(../images/bg-video.png) no-repeat 50% 0;

        @media (min-width: $breakpoint-1) {
            top: -100px;
        }
    }
}

// Testimonials
.auditory-testimonials {
    padding: 40px 0;
    background: #fff;
}

.auditory-testimon-wr {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    text-align: center;

    overflow: hidden;

    @media (min-width: $breakpoint-1) {
        height: 350px;
        margin-left: 0;
        margin-right: 0;
        padding: 0 60px;

        .o-carousel-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            display: none;

            &_prev {
                left: 0;
            }

            &_next {
                right: 0;
            }
        }
    }
}

.auditory-testimon {
    margin: 0 0 15px;
    border: 0;

    @media (min-width: $breakpoint-3) {
        max-width: 400px;
        width: 400px;
        margin: 0 auto;
        position: static !important;
    }

    &__item {
        width: 100%;
        float: left;
        position: relative;
        z-index: 5;

        @media (min-width: $breakpoint-3) {

            &.flex-active-slide {
                //margin: 0 -185px!important;
                z-index: 6;
            }

        }

    }

    .flex-direction-nav {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .flex-nav-prev,
    .flex-nav-next {
        margin: 0;
        padding: 0 20px;
        list-style: none;
        display: inline-block;
    }

    .flex-viewport {

        @media (min-width: $breakpoint-3) {
            overflow: visible!important;
        }
    }


    .flex-prev,
    .flex-next {
        width: 33px;
        height: 44px;
        display: inline-block;
        text-align: left;
        position: relative;
        vertical-align: middle;
        text-indent: -9999px;
        cursor: pointer;
        opacity: 1;
        background: transparent url(../images/icons-arrows-mobile.png) no-repeat 0 0;
    }

    @media (min-width: $breakpoint-3) {
        .flex-prev,
        .flex-next {
            height: 29px;
            position: absolute;
            top: 50%;
            margin-top: -16px;
            background: transparent url(../images/icons-arrows.png) no-repeat 0 0;
        }

        .flex-prev {
            left: 0;

            &:hover {
                opacity: .8;
            }
        }

        .flex-next {
            right: 0;

            &:hover {
                opacity: .8;
            }
        }
    }

    .flex-prev {
        background-position: 0 0;

        &:hover {
            opacity: .8;
        }
    }

    .flex-next {
        background-position: 100% 0;

        &:hover {
            opacity: .8;
        }
    }

}

.testimonial {
    @include card;

    margin: 15px 15px 20px;
    text-align: left;
    overflow: hidden;
    transition: all .5s;

    &:hover {
        //height: auto;
    }

    @media (min-width: $breakpoint-3) {
        height: 250px;
        margin: 15px 60px 20px;

        .flex-active-slide & {
            margin-left: -125px;
            margin-right: -125px;
        }

        > * {
            opacity: .3;

            .flex-active-slide & {
                opacity: 1;
            }
        }
    }

    &__top {
        margin-bottom: 16px;
        text-align: center;

        @media (min-width: $breakpoint-1) {
            width: 100%;
            display: table;
            text-align: left;
        }
    }

    &__avatar {
        margin-bottom: 16px;

        @media (min-width: $breakpoint-1) {
            width: 10%;
            min-width: 60px;
            display: table-cell;
            vertical-align: top;

            .flex-active-slide & {
                vertical-align: middle;
            }
        }

        img {
            max-width: 60px;
            max-height: 60px;
        }
    }

    &__info {
        margin-bottom: 16px;

        @media (min-width: $breakpoint-1) {
            width: 90%;
            padding-left: 20px;
            display: table-cell;
            vertical-align: top;

            .flex-active-slide & {
                vertical-align: middle;
            }
        }
    }

    &__name {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        color: $color-base;
        margin-bottom: 5px;
    }

    &__descr {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        color: $color-lite;
        margin-bottom: 4px;
    }

    &__link {
        margin-left: 8px;
        display: inline-block;

        &:first-child {
            margin-left: 0;
        }

        img {
            vertical-align: middle;
        }
    }

    &__text {
        font-family: "Roboto", Tahoma, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        color: $color-base;
    }

}

// Tarifs
.auditory-tarifs {
    padding: 40px 0 0;
    position: relative;
    background: #fff;

    &:before {
        content: '';
        height: 500px;
        position: absolute;
        bottom: -250px;
        left: 0;
        right: 0;
        background: transparent url(../images/bg-contacts.png) no-repeat 50% 0;

        @media (min-width: $breakpoint-1) {
            bottom: -150px;
        }
    }
}

.auditory-tarifs-wr {
    padding: 0 0 150px;
    position: relative;

    @media (min-width: $breakpoint-1) {
        padding: 40px 0 200px;
    }

}

.auditory-tarif {
    margin: 0 -15px 15px;
    overflow: hidden;
    position: relative;

    &__list {
        width: 20000em;
        position: relative;
    }

    &__item {
        width: 100%;
        float: left;
    }
}

.tarif {
    @include card;

    margin: 15px 15px 20px;

    &__title {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: $color-title-lite;
        margin-bottom: 15px;
        padding-right: 80px;
        position: relative;
        word-break: break-all;

        @media (min-width: $breakpoint-1) {
            font-size: 30px;
            line-height: 34px;
        }
    }

    &__price {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: $color-link;
        position: absolute;
        bottom: 0;
        right: 0;

        @media (min-width: $breakpoint-1) {
            font-size: 24px;
            line-height: 24px;
        }
    }

    &__list {
        font-family: "Roboto", Tahoma, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        color: $color-base;
        margin: 0 -10px 20px;
    }

    &__item {
        padding: 20px 10px 10px;
        border-bottom: 1px solid #e0e0e0;
    }

    &__register {
        text-align: right;
    }

    &__link {
        font-family: "Roboto", Tahoma, Arial, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
        color: $color-link;
        text-decoration: none;

        &:hover {
            color: $color-link-hover;
        }
    }
}

// Register on mobile
.register-block-mobile {
    margin-bottom: 20px;
    padding: 25px 15px;
    text-align: center;
    border: 15px solid $color-link;
    background: #fff;

    &__info {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 15px;
        font-weight: 700;
        line-height: 19px;
        color: $color-base;
        margin-bottom: 5px;
    }

    &__price {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: $color-link;
        margin-bottom: 15px;
    }

    &__link {
        margin-bottom: 40px;
    }

    &__descr {
        font-family: "Roboto", Tahoma, Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        color: $color-lite;
        margin-bottom: 20px;
    }

    &__img {
        margin-bottom: -35px;
    }
}

// Register
.auditory-register {
    padding: 0 0 40px;
    position: relative;
    border-bottom: 1px solid #e0e0e0;

    @media (min-width: $breakpoint-1) {
        padding: 0 0 60px;
    }

    &__form { // .auditory-form

        @media (min-width: $breakpoint-1) {
            margin-top: -100px;
        }
    }

    &__partners {

        @media (min-width: $breakpoint-1) {
            margin-top: -100px;
        }
    }

    &__logos {
        max-width: 100%;
        margin: 20px auto 0;
        display: block;

        @media (min-width: $breakpoint-1) {
            margin: 120px auto 20px;
        }
    }
}

.auditory-form {
    padding: 40px 20px;
    border: 20px solid $color-link;
    background: #f5f5f5;

    @media (min-width: $breakpoint-1) {
        padding: 40px 60px;
    }

    &_full {
        display: none;

        @media (min-width: $breakpoint-1) {
            display: block;
        }
    }

    &_phone {
        text-align: center;
        border-color: #e6e6e6;
    }

    fieldset {
        margin: 0 0 20px;
        padding: 0;

        @media (min-width: $breakpoint-1) {
            margin-bottom: 40px;
        }
    }

    &__descr {
        font-size: 14px;
        color: $color-title-lite;
        margin-bottom: 20px;
    }

    &__group {
        margin-bottom: 10px;
        position: relative;

        @media (min-width: $breakpoint-1) {
            margin-bottom: 20px;
        }
    }

    &__required-sign {
        font-size: 14px;
        line-height: 14px;
        width: 10px;
        text-align: center;
        position: absolute;
        top: 4px;
        right: 4px;
        user-select: none;
    }

    &__error {
        font-family: "Roboto", Tahoma, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: $color-error;
        padding: 4px 23px;
    }

    .o-icon-close {
        display: none;
    }

    &.is-form-modal {
        width: 320px;
        display: block;
        position: fixed;
        top: 0;
        left: 50%;
        margin-left: -160px;
        z-index: 9;

        @media (min-width: $breakpoint-1) {
            width: 500px;
            top: 60px;
            margin-left: -250px;
            z-index: 9;
        }

        .o-icon-close {
            display: block;
        }
    }

}

// Contacts
.auditory-contacts {
    padding: 40px 0 0;
    position: relative;

    @media (min-width: $breakpoint-1) {
        padding-bottom: 40px;
    }

    &__card { // .contacts-card

    }
    
    &__map { // .contacts-map
        max-height: 300px;
        margin: -40px -15px 0;
        position: relative;
        z-index: 4;

        @media (min-width: $breakpoint-1) {
            height: 400px;
            max-height: none;
            margin-top: 0;
            margin-bottom: 40px;
        }
    }

}

.c-cont-card {
    position: relative;
    z-index: 5;
}

.c-cont-map {
    position: relative;
    z-index: 4;
}

.contacts-card {
    @include card;

    box-shadow: none;

    @media (min-width: $breakpoint-1) {
        padding: 20px;
    }

    @media (min-width: $breakpoint-2) {
        padding: 40px;
    }

    &__photo {
        margin: -20px -20px 20px;
        text-align: center;
        border-radius: 3px 3px 0 0;

        @media (min-width: 450px) {
            margin-top: 0;
        }

        @media (min-width: $breakpoint-1) {
            margin-top: -20px;
        }

        @media (min-width: $breakpoint-2) {
            margin: -40px -40px 20px;
        }

        img {
            max-width: 100%;
        }
    }

    &__item {
        font-family: 'Roboto Slab', 'Times New Roman', serif;
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        color: $color-title;
        min-height: 35px;
        margin-bottom: 20px;
        padding-left: 45px;
        background: transparent url(../images/icon-location.png) no-repeat 0 50%;

        &_address {
            min-height: 35px;
            background: transparent url(../images/icon-location.png) no-repeat 0 50%;
        }

        &_phone {
            min-height: 25px;
            background: transparent url(../images/icon-phone2.png) no-repeat 0 50%;
        }

        &_mail {
            min-height: 18px;
            background: transparent url(../images/icon-mail2.png) no-repeat 0 50%;
        }
    }

    &__link {

        &:hover {
            text-decoration: none;
        }
    }
}

.contacts-map {

    @media (min-width: $breakpoint-1) {
        padding: 15px;
        background: #ececec;
    }

    &__map {
        width: 100%;
        height: 100%;
    }

}

// Footer
.auditory-footer {
    padding: 40px 0;
    text-align: center;
    background: #eee;

    @media (min-width: $breakpoint-2) {
        text-align: left;
    }

    &__logo {
        margin-bottom: 30px;
        display: inline-block;

        @media (min-width: $breakpoint-4) {
            padding-top: 15px;
        }
    }

    &__contacts { // .c-contacts
        margin-bottom: 20px;

        @media (min-width: $breakpoint-2) {

            .c-contacts__link {
                margin-left: 0;
            }
        }

        @media (min-width: $breakpoint-3) {

            .c-contacts__link {
                margin-left: 10px;
            }
        }

        @media (min-width: $breakpoint-4) {
            padding-top: 20px;
        }
    }

    &__social { // .c-social

    }

}
